{% extends 'base.html.twig' %}

{% block title %}Archive index{% endblock %}

{% block body %}
<div class="divperso mx-auto">
    <div class="row">
        {% for archive in archives %}
            <div class="col-lg-6 col-md-12">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ archive.denom | raw}}</h5>
                            <p class="card-text">{{ archive.annee | raw}}</p>
                            <a href="{{ path('archive_show',{'id':archive.id}) }}" class="btn btn-primary">En savoir plus !</a>
                            {% if app.user %}
                                <a href="{{ path('archive_edit',{'id':archive.id}) }}" class="btn btn-warning">Modifier l'archive</a>
                                {{ include('archive/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p> Pas d'archive trouvé.</p>
        {% endfor %}
    </div>
    {% if app.user %}
    <a href="{{ path('archive_new') }}" class="btn btn-primary">Créer une archive</a>
    {% endif %}
</div>


{% endblock %}
