<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ronde des Lingons{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/img.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="navbar-brand img-nav" src="{{ asset('build/images/img.png') }}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('index') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('article_eng') }}">Engagement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('article_reg') }}">Règlement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('article_eta') }}">Etalonnage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('archive_index') }}">Archives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>

            {% if app.user %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('article_new') }}">Créer un article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('archive_new') }}">Créer une Archive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('type_index') }}">Type d'article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% if not app.user %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-fluid" src="{{ asset('build/images/rallye5.jpeg') }}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="{{ asset('build/images/rallye6.jpeg') }}" alt="First slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endif %}
{% block body %}{% endblock %}
</body>
<footer class="footer">
    <div class="container" style="max-width: none">
        <p>Made with ♥ ️</p>
        <a class="link" href="{{ path('login') }}">Connection Admin</a>
    </div>
</footer>
</html>
