{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

        {% block body %}
<div class="divperso mx-auto">
                {% for article in articles %}
                    <div class="col-lg-6 col-md-12">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.titre}}</h5>
                                    <p class="card-text">{{ article.utitre}}</p>
                                    <a href="{{ path('article_show', {'id': article.id}) }}) }}" class="btn btn-primary">En savoir plus !</a>
                                    {% if app.user %}
                                        <a href="{{ path('deleteArticle',{'articleName':article.id}) }}" class="btn btn-danger">Supprimer l'article</a>
                                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier l'article</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-6 col-md-12">
                        <div class="container">
                            <h5>Pas encore d'article !</h5>
                        </div>
                    </div>
                {% endfor %}
</div>
        {% endblock %}
