{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
        <div class="mx-auto w-75 align-items-center article">
            {% if (article is defined) %}
                <h3>{{ article.titre }}</h3>
                <h5>{{ article.utitre }}</h5>
                <div>{{ article.contenu | raw }}</div>
                <ul class="">
                    {% for attachment in article.attachments %}
                        <li><a href="{{ path('article_download_attachment', {'id': attachment.id}) }}">
                                Document a télécharger : {{ attachment.originalFilename }}
                            </a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for image in article.images %}
                <img src=" {{ asset(pathArticleAttachment ~ image.filename) }}" alt="{{ image.originalFilename }}"/>
            {% endfor %}
            <div class="mt-2">
                <a href="{{ path('article_index') }}" class="btn btn-primary">Retour</a>
                {% if app.user %}
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning ">Modifier l'article</a>
                    {{ include('article/_delete_form.html.twig') }}
                {% endif %}
            </div>

        </div>
{% endblock %}
