{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% import 'article/_macro_article.html.twig' as article_macro %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('carousel') }}
{% endblock %}

{% block body %}
        <div class="mx-auto w-75 align-items-center article">
            <h3>{{ article.titre }}</h3>
            <h5>{{ article.utitre }}</h5>
            <div>{{ article.contenu | raw }}</div>
            <ul class="breaking">
                {% for attachment in article.attachments %}
                    <li><a href="{{ path('article_download_attachment', {'id': attachment.id}) }}">
                            Document a télécharger : {{ attachment.originalFilename }}
                        </a></li>
                {% endfor %}
            </ul>
            {% if not article.images is empty  %}
            {{ article_macro.carousel(article.images) }}
            {% endif %}
            <div class="mt-2">
                <a href="{{ path('article_index') }}" class="btn btn-primary">Retour</a>
                {% if app.user %}
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning ">Modifier l'article</a>
                    {{ include('article/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('carousel') }}
{% endblock %}
